# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/
.env/
ENV/

# Environment variables
# NUNCA versione seu arquivo .env!
.env

# Banco de dados
*.sqlite3
*.db

# Pacotes e distribuição
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg

# Arquivos de IDEs e editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Arquivos de Testes
.pytest_cache/
.coverage
htmlcov/
